.container {
  width: 22%;
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  /* padding-top: 20px; */
  cursor: pointer;
  background-color: rgb(207, 194, 169);
  margin: 25px 15px;
  border-radius: 30px;
}

.pizza {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.infoWrapper {
  border: 2px solid rgb(207, 194, 169);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 0px 10px;
  /* background-color: grey; */
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  font-size: 18px;
  font-weight: bold;
  color: #2d1e06;
}

.price {
  font-size: 18px;
  padding: 12px;
  font-weight: bold;
  color: #281b05;
}

.desc {
  /* text-align: center; */
  color: #654f28;
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }

  .title {
    font-size: 30px;
  }

  .price,
  .desc {
    font-size: 24px;
  }
}
